<?xml version="1.0"?>
<hospital>
	<op number = "0">
		<vitalsign category="HF">
			<postionx>542</postionx>
			<postiony>23</postiony>
		</vitalsign>
		<vitalsign category="SPO2">
			<postionx>545</postionx>
			<postiony>178</postiony>
		</vitalsign>
		<vitalsign category="NBP">
			<postionx>536</postionx>
			<postiony>93</postiony>
		</vitalsign>
	</op>
</hospital>
