<?xml version="1.0"?>
<hospital>
	<op number = "0">
		<vitalsign category="HF">
			<postionx>1492</postionx>
			<postiony>21</postiony>
		</vitalsign>
		<vitalsign category="SPO2">
			<postionx>1492</postionx>
			<postiony>170</postiony>
		</vitalsign>
		<vitalsign category="NBP">
			<postionx>1511</postionx>
			<postiony>303</postiony>
		</vitalsign>
		<vitalsign category="CHART">
			<postionx>20</postionx>
			<postiony>0</postiony>
		</vitalsign>
	</op>
</hospital>
